.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;

  h1{
    margin: 0;
    padding: 15px;
  }
}

.errorCounter{
  color: red;
  transform: scale(1.2);
  width: max-content;
  margin: 5px auto;
}
.counter{
  width: max-content;
  margin: 5px auto;
  color: black;
  font-size: 16px;
}
.errorInput{
  color: red;
  background-color: rgba(255, 0, 0, 0.5);
}