.App {
  text-align: center;
}

.errorCounter{
  color: red;
  transform: scale(1.2);
  width: max-content;
  margin: 5px auto;
}
.counter{
  width: max-content;
  margin: 5px auto;
  color: black;
}
.errorInput{
  color: red;
  background-color: rgba(255, 0, 0, 0.5);
}