*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;

  h1{
    margin: 0;
    padding: 15px;
  }
}


.errorInput{
  color: red;
  background-color: rgba(255, 0, 0, 0.5);
}